/******************************************************************
Site Name: Theme Name
Stylesheet: Mixins & Constants Stylesheet
******************************************************************/

/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/

$alert-yellow:      #ebe16f;
$alert-red:         #fbe3e4;
$alert-green:       #e6efc2;
$alert-blue:        #d5edf8;

$bones-pink:        #f01d4f;
$bones-blue:        #1990db;

$black:             #000;
$white:             #fff;

/* Color Palette */
$base-color:		#e31b23;				/* Red */
$base-lt:			#e7767a;				/* Lt Red */
$base-dk:			#ba161d;				/* Dk Red */
$accent:			#1D1D1D;				/* Dk Gray */
$accent-lt:			#777777;				/* Med Gray */
$accent-dk:			$black;					/* Black */
$contrast:			#DA2C2C;				/* Blue */
$contrast-lt:		lighten($contrast, 10%);/*#31b6be;*/				/* Lighter Blue */
$contrast-dk:		darken($contrast, 10%);	/* Dark Blue */
$neutral:			#ecf2b7;				/* Light Yellow/Tan */
$neutral-lt:		#ece9d3;				/* Off-White */
$neutral-med:		#d9d1a9;				/* Tan */
$neutral-dk:		#b2ad8a; 				/* Darker Tan */	

$bgr:				$white;					 
$link-color:        $contrast;
$link-hover:        darken($link-color, 9%);
$text-color:		$accent;
$nav-bgr:           $contrast;
$nav-hover-bgr:     $contrast-lt;
$nav-current-bgr:   $neutral-lt;
$nav-current-color: $link-hover;

/*********************
TYPOGRAPHY
*********************/
$sans-serif:        "OpenSansLight", "Helvetica Neue", Arial, sans-serif;
$serif:             "Georgia", Cambria, "Times New Roman", Times, serif;
$fancy: 			"Crushed", "OpenSansLightItalic", "Helvetica Neue", sans-serif;
$heavy:				"OpenSansSemibold", "Helvetica Neue", Arial, sans-serif;

	// @import url(http://fonts.googleapis.com/css?family=Crushed);

	// @font-face {
	//     font-family: 'OpenSansLight';
	//     src: url('../fonts/OpenSans-Light-webfont.eot');
	//     src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
	//          url('../fonts/OpenSans-Light-webfont.woff') format('woff'),
	//          url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'),
	//          url('../fonts/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
	//     font-weight: normal;
	//     font-style: normal;
	
	// }

/*
use the best ampersand
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
span.amp {
  font-family: Baskerville,'Goudy Old Style',Palatino,'Book Antiqua',serif !important;
  font-style: italic;
}

// text alignment
.text-left   { text-align: left; }
.text-center { text-align: center; }
.text-right  { text-align: right; }


// alerts and notices
%alert {
	margin: 10px;
	padding: 5px 18px;
	border: 1px solid;
}

.alert-help {
	@extend %alert;
	border-color: darken($alert-yellow, 5%);
	background: $alert-yellow;
}

.alert-info {
	@extend %alert;
	border-color: darken($alert-blue, 5%);
	background: $alert-blue;
}

.alert-error {
	@extend %alert;
	border-color: darken($alert-red, 5%);
	background: $alert-red;
}

.alert-success {
	@extend %alert;
	border-color: darken($alert-green, 5%);
	background: $alert-green;
}

/*********************
TRANISTION
*********************/
@mixin transition($transition...) {
	// defining prefixes so we can use them in mixins below
	$prefixes:      ("-webkit", "-ms", "-o",  "");
  @each $prefix in $prefixes {
    #{$prefix}-transition: $transition;
  }

  transition: $transition;
}

/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdue it.
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/* added support for IE */
@mixin css-gradient($from, $to) {
	background-color: $to;
	background-image: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
	background-image: -webkit-linear-gradient(top, $from, $to);
	background-image: -moz-linear-gradient(top, $from, $to);
	background-image: -o-linear-gradient(top, $from, $to);
	background-image: linear-gradient(to bottom, $from, $to);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#{ie-hex-str($from)}', endColorstr='#{ie-hex-str($to)}');
}

/*********************
CSS3 BOX SHADOW
*********************/
/*  @include box-shadow(0, 0, 10px, 0, #444444, ""); */
@mixin box-shadow($top, $left, $blur, $spread, $color, $inset:"") {
      -webkit-box-shadow:$top $left $blur $spread #{$inset};
      -moz-box-shadow:$top $left $blur $spread #{$inset};
      box-shadow:$top $left $blur $spread #{$inset};
      -o-box-shadow:$top $left $blur $spread #{$inset};
}

/*********************
BOX SIZING
*********************/
/* @include box-sizing(border-box); */
/* NOTE: value of "padding-box" is only supported in Gecko. So
probably best not to use it. I mean, were you going to anyway? */
@mixin box-sizing($type: border-box) {
	-webkit-box-sizing: $type;
	-moz-box-sizing:    $type;
	-ms-box-sizing:     $type;
	box-sizing:         $type;
}


/*********************
BUTTONS
*********************/
.button, .button:visited {
	font-family: $sans-serif;
	border: 1px solid darken($link-color, 13%);
	border-top-color: darken($link-color, 7%);
	border-left-color: darken($link-color, 7%);
	padding: 4px 12px;
	color: $white;
	display: inline-block;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0 1px rgba(0,0,0, .75);
	cursor: pointer;
	margin-bottom: 20px;
	line-height: 21px;
	border-radius: 4px;
	@include css-gradient($link-color, darken($link-color, 5%));


	&:hover, &:focus {
		color: $white;
	  	border: 1px solid darken($link-color, 13%);
	  	border-top-color: darken($link-color, 20%);
	 	border-left-color: darken($link-color, 20%);
		@include css-gradient(darken($link-color, 5%), darken($link-color, 10%));
	}

	&:active {
		@include css-gradient(darken($link-color, 5%), $link-color);
	}
}

.blue-button, .blue-button:visited {
	border-color: darken($bones-blue, 10%);
	text-shadow: 0 1px 1px darken($bones-blue, 10%);
	@include css-gradient( $bones-blue, darken($bones-blue, 5%) );
	box-shadow: inset 0 0 3px lighten($bones-blue, 16%);

	&:hover, &:focus {
		border-color: darken($bones-blue, 15%);
		@include css-gradient( darken($bones-blue, 4%), darken($bones-blue, 10%) );
	}
	&:active {
		@include css-gradient( darken($bones-blue, 5%), $bones-blue );
	}
}